#viewportsize {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #000;
    color: white;
    padding: 5px;
}

html, body {
    background-color: #e6e6e6;
}

/*
Header
 */
.header {
    background: linear-gradient(to bottom, #99ebff 0%, #3385ff 99%);
    height: 250px;
}

.header-title {
    font-size: 2.5rem;
    color: white;
}

@media (max-width: 768px) {
    .header-title {
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.row-header {
    align-items: center;
    margin-top: 20px;
}

.search-tag {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    width: 120%;
}

#search_button {
    font-family: Proximanovasemibold, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    -webkit-appearance: none;
    outline: 0;
    transition: background-color .3s ease, color .3s ease;
    color: #fff;
    border: 1px solid #19672b;
    background-color: #28a745;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 100px;
    height: 40px;
    font-weight: bold;

}

#search_button:hover {
    background-color: #46d267;

}

.header-logo {
    margin-left: 50px;
}

/*
Footer
 */

.footer {
    position: relative;
    overflow: hidden;
    border-top: 5px solid #eee;
    margin-top: 8em;
    text-align: center;
    background: linear-gradient(to bottom, #84e19a 10%, #28a745 70%);
}

/*
Jobs
 */
.row-job {
    border-bottom: 2px solid #dee2e6 !important;
}

.job-title {
    font-size: 20px;
    font-weight: bold;
}

.job-logo {
    margin: auto;
}

.job-tag {
    text-align: center;
    font-family: Proximanova, Helvetica, Arial, sans-serif;
    border-radius: 3px;
    background-color: #0e51a5;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    float: right;
    padding: 4px 8px 4px 8px;
    margin-top: 5px;
}

.job-details {
    font-size: 15px;
}

.logo-img-mobile {
    max-height: 50px;
    height: auto;
    width: auto;
    max-width: 80px;
}

/*
Paginator
 */

.paginator {
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: inline-block;
    margin-top: 50px;
}

.paginator a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #0e51a5;
    margin: 3px;
}

.paginator li.active {
    border-radius: 5px;
    background-color: #0e51a5;
    padding: 8px 16px;
    color: white;
    border: 1px solid #2aabd2;
    margin: 3px;

}

.paginator a:hover:not(.active) {
    background-color: #ddd;
}

.paginator a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginator a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
Bottom show more
 */

.btn-apply {
    float: right;
}

.btn-show-more {
    margin-top: -15px;
    float: right;
}

.btn-apply-mbl {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    border-color: #28a745
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:focus {
    color: #28a745;
    background-color: transparent;
    border-color: #28a745;
}


/*
Bottom up
 */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 140px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0e51a5; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #28a745; /* Add a dark-grey background on hover */
}

.emptyalert {
    position: fixed;
    bottom: 5px;
    width: 100%;
}

/*  About Links */
.about-links {
    color: #212529;
    cursor: pointer; /* Add a mouse pointer on hover */
}

.about-links:hover {
    color: #212529;
    cursor: pointer;
}

.cookies-policy-header {
    border-radius: 2px;
    font-weight: bold;
    background-color: #28a745;
}

.cookies-policy-row {

    border-bottom: 2px solid #dee2e6;
}

.total_jobs {
    font-style: italic;
    color: grey;
}

/* featured code */

.featured-div {
    background-color: #28a745;
    position: relative;
    border: 2px solid #0e51a5;
    color: white;
    font-weight: bold;
    margin-top: -16px;

}

#featuredSpan {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.no-featured-div {
    padding-left: 24px;
!important;
}

.row-details {
    border: #28a745 solid 1px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.no-jobs {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.bloque {
    border: red solid 2px;
}

.bloque2 {
    border: green solid 2px;
}

.bloque3 {
    border: blue solid 2px;
}

.short-title {
    display: none;
}

/*
Phones
 */
@media (max-width: 640px) {
    html, body {
        background-color: white;
    }

    .job-title {
        font-size: 18px;
        font-weight: bold;
    }

    .job-details {
        font-size: 12px;
    }

    .job-end-date {
        display: none;
    }

    .short-title {
        display: inline-block;
    }

    .full-title {
        display: none;
    }
}

/*
Tablet or larger
 */
@media (min-width: 767px) {
    .main-border {
        background: white;
        -webkit-box-shadow: 0 0 5px 2px grey;
        -moz-box-shadow: 0 0 5px 2px grey;
        box-shadow: 0 0 5px 2px grey;
        border-top: 1px solid #dee2e6 !important;
    }

    .main-div {
        margin-left: 100px;
        margin-right: 100px;
    }

    .short-title {
        display: inline-block;
    }

    .full-title {
        display: none;
    }

    .w-md-75 {
        width: 75% !important;
    }
}

/*
Desktop or larger
 */
@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .short-title {
        display: none;
    }

    .full-title {
        display: inline-block;
    }

}

