
#viewportsize {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #000;
    color: white;
    padding: 5px;
}

.navbar {
    position: relative;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    outline: none;
}

@media (max-width: 543px) {
    .navbar-toggleable-xs {
        clear: both;
    }

    .navbar-toggleable-xs .navbar-nav {
        float: none !important;
    }

    .navbar-toggleable-xs .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .navbar-toggleable-xs .navbar-nav .nav-item {
        float: none;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm {
        clear: both;
    }

    .navbar-toggleable-sm .navbar-nav {
        float: none !important;
    }

    .navbar-toggleable-sm .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .navbar-toggleable-sm .navbar-nav .nav-item {
        float: none;
    }
}

@media (max-width: 991px) {
    .navbar-toggleable-md {
        clear: both;
    }

    .navbar-toggleable-md .navbar-nav {
        float: none !important;
    }

    .navbar-toggleable-md .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .navbar-toggleable-md .navbar-nav .nav-item {
        float: none;
    }
}

@media screen and (min-width: 768px) {
    .brk {
        display: none;
    }
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.content {
}

.footer {
    position: relative;
    overflow: hidden;
    border-top: 5px solid #eee;
    margin-top: 8em;
    text-align: center;
    background: white;
}

/* ==================================================
  Common
  ================================================== */
.intro {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 5px solid #eee;
}

.demos .demo {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #eee;
}

.demos .demo:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.active-green-1 input[type=text]:focus:not([readonly]) {
    border: 1px solid #2ecd71;
    box-shadow: 0 0 0 1px #2ecd71;
}

.active-green-2 input[type=text] {
    border: 1px solid #2ecd71;
    box-shadow: 0 0 0 1px #2ecd71;
}

/*Chanage css for navbar*/
.navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 250px;
}

/*Menu font*/
.navbar-light .navbar-nav > li > a {
    color: white;
    font-family: 'Calibri';
}

/*Change font color for active tab*/
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
    /*    background-color: #27ae61!important ;*/
    font-family: 'Calibri';
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.bg-navbar {
    background: linear-gradient(to bottom, #99ebff 0%, #3385ff 99%);
}

.text-navbar {
    color: white;
}

.emptyalert {
    position: fixed;
    bottom: 5px;
    left: 0%;
    width: 100%;
}

.paginator {
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: inline-block;
    margin-top: 50px;
}

.paginator a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #0e51a5;
    margin: 3px;
}

.paginator li.active {
    border-radius: 5px;
    background-color: #0e51a5;
    padding: 8px 16px;
    color: white;
    border: 1px solid #2aabd2;
    margin: 3px;

}

.paginator a:hover:not(.active) {
    background-color: #ddd;
}

.paginator a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginator a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.inline {
    display: inline-block;
    margin: 10px;
}

.dropdown-menu a:hover {
    color: black !important;
}

/* featured code */

#itemlist {
    border-top: 1px solid #dee2e6 !important;
}

.featured-div {
    background-color: #2ecd71;
    position: relative;
    border: 1px solid #22b15e;
    color: white;
    font-weight: bold;
}

#featuredSpan {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.no-featured-div {
    padding-left: 24px;
!important;
}

.img-block-div {
    min-width: 100px !important;
    max-width: 100px !important;
    margin-left: -10px !important;
}

.content-div {
    margin-top: 20px;
    margin-left: -7px !important;
    font-size: 13px !important;
}

.main-div {

    margin-left: 100px;
    margin-right: 100px;
}

.text-dark {
    font-size: 20px !important;
    font-weight: 900 !important;
}

.job-tag {
    float: right;
    align-self: flex-start;
    display: inline-table;
    font-family: Proximanova, Helvetica, Arial, sans-serif;
    line-height: 14px;
    font-size: 12px;
    height: 14px;
    border-radius: 2px;
    padding: 1px 5px;
    background-color: #0e51a5;
    color: #fff;
}

.job-block-info {
    display: flex;
}

.job-pub-date {
    width: 150px;
}

.job-end-date {
    flex-grow: 1;
}

.job-location {
    flex-grow: 10;
    margin-top: -1px;
}

.btn-show-more {
    margin-top: -20px;
    margin-bottom: 10px;
    float: right;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745

}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 155px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0e51a5; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #2aabd2; /* Add a dark-grey background on hover */
}

.copyright {
    margin-top: 40px;
    margin-bottom: 10px;
}

.row-item {
    text-align: center;
    float: left;
    width: 50px;
    padding-left: 80px;
}

.search-block{
    margin-left: 50px;
}

.location-block{
    margin-left: -50px;

}

.search-tag {
    width: 110px;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

.input-fields {
    position: absolute;
    height: 50px;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 72%;
    margin: auto;
    align-items: center;
    display: flex;
}

.search-input {
    float: left;
    border-radius: 5px;
    padding-left: 100px;
    width: 350px;
}

.search-input input {
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    background: #fff url(images/search.png) no-repeat right 10px center;
}

.location-input {
    float: left;
    border-radius: 5px;
    padding-left: 100px;
    width: 350px;

}

.location-input input {
    border: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    background: #fff url(images/location2.png) no-repeat right 10px center;
}

.navbar-title {
    position: absolute;
    height: 50px;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: 0 auto;
    font-size: 2.5vw;
    color: white;
    text-align: center;
}

#search_button {
    font-family: Proximanovasemibold,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    -webkit-appearance: none;
    outline: 0;
    transition: background-color .3s ease,color .3s ease;
    color: #fff;
    border: 1px solid #19672b;
    background-color: #28a745;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    width: 100px;
    height: 40px;
    margin-left: 0px;
    font-weight: bold;
}

#search_button:hover{
        background-color: #46d267;

}


body {
    background: #f2f2f2;
}

.main-border {
    background: white;
    -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 5px 2px grey;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
