venv/
db.sqlite3
.idea/
job_scraper/__pycache__/
job_scraper/utils/__pycache__/
job_scraper/migrations/__pycache__/
webapp/__pycache__/
job_scraper/utils/logs/
job_scraper/*.pyc
job_scraper/utils/*.pyc
__pycache__/
webapp/secretkey.txt
