asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
contextlib2==0.6.0.post1
Django==3.1.5
django-bootstrap4==2.3.1
django-common-helpers==0.9.2
django-crontab==0.7.1
django-webmaster-verification==0.4.2
djangorestframework==3.12.2
geotext==0.4.0
html5lib==1.1
idna==3.1
importlib-metadata==3.3.0
langdetect==1.0.8
lxml==4.6.2
Pillow==8.1.0
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
zipp==3.4.0
